#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #333; /* Background color for the navbar */
    padding: 10px 0; /* Adjust padding to your liking */
    z-index: 100; /* Ensures the navbar is on top of other elements */
}

#content {
    /* Add margin to the top of your content to prevent it from being obscured by the sticky navbar */
    height:400px;
    border: 1px solid black;
    margin: 1rem;
    margin-top: 100px;
    padding: 2rem 2rem;
    text-align: center;
    margin-bottom: 10px;
    
}

.child{
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: 35%;
    height:20%;
    margin-top:5%;
    margin: 2%;

}
